body{    
    background-image: url(/images/fondo.jpg);
}

.formulario{
    display: flex; 
    flex-direction: column;
    align-items: center;    
    font-size: 20px;
    width: 40%;
    margin: 11rem auto 11rem;  
    height: 50%;    
    justify-content: center;
    align-items: center;    
    padding: 20px 0;
    box-shadow: 0 0 6px 0 rgba(240, 236, 236, 0.8);
    border-radius: 10px;
}

label{
    color: white;
}

.formulario input,
textarea{   
    color: white !important;  
    font-size: 16px !important;     
    margin-top: 2rem;  
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    background-color: rgb(82, 80, 80) !important;
    border: none ;    
    box-shadow: 0 0 6px 5px rgba(241, 239, 239, 0.8);
}

/* textarea{
    font-size: 14px !important; 
    background-color: rgb(82, 80, 80) !important;
    box-shadow: 0 0 6px 5px rgba(241, 239, 239, 0.8);
} */

.btn{
    margin: 3rem 0 1rem 0;
    font-size: 15px;
    padding: 8px;
    border-color: black;
    border-radius: 5px;
    background-color:#547B8C;
    transition: 0.3s; 
    box-shadow: 0 0 6px 0 rgba(95, 90, 90, 0.8);   
}

.btn:hover{
    color: black;
    background-color:#FFAC4F;
    border-color: black;    
    border-radius: 10px;
    box-shadow: none;
}

.p-error{    
    margin-top: 1rem;
    color: rgb(209, 204, 204);
}

.table{
    margin-bottom: 60px;
}

.titulo-agregar{
    font-size:xx-large;
}

